<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
  <%- include('./components/header.ejs') %>

  <main>
    <div class="app">
      <div class="information">
        <div>
          <img src="../public/imgs/tesouro.png" class="image">
        </div>
        <div>
          <div class="description">
            <p>
              Solução de gerenciamento financeiro para você ou para sua empresa
            </p>
          </div>
        </div>
      </div>
      <div class="information-inverse">
        <div>
          <img src="../public/imgs/confiavel.png" class="image">
        </div>
        <div>
          <div class="description">
            <p>
              Simples, mas poderoso e confiável, tudo que VOCÊ precisa!
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>