<header>
  <nav class="nav-not-logged">
    <ul class="logo">
      <li>
        <a href="http://localhost:5000/home">
          Gerenciador Financeiro
        </a>
      </li>
    </ul>
    <ul class="actions">
      <li>
        <a href="http://localhost:5000/report">
          Relatórios
        </a>
      </li>
      <li>
        <a href="http://localhost:5000/auth/logout">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>