<header>
  <nav class="nav-not-logged">
    <ul class="logo">
      <li>
        <a href="http://localhost:5000">
          Gerenciador Financeiro
        </a>
      </li>
    </ul>
    <ul class="authenticate">
      <li>
        <a href="http://localhost:5000/auth/login">
          Login
        </a>
      </li>
      <li>
        <a href="http://localhost:5000/signup">
          Signup
        </a>
      </li>
    </ul>
  </nav>
</header>